.categoryContainer {
  padding: 2rem;
  margin: 2rem;

  .title {
    text-align: center;
    h1 {
      font-size: 2rem;
      padding-top: 2rem;
    }
  }

  .categoriesListCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .categoryCard {
    padding: 1rem;
    transition: all 0.3s ease-in-out;

    // & > div{
    //     border: 2px solid blue;
    // }

    p {
      text-align: center;
      padding: 1rem;
      text-decoration: underline;
      transition: all 0.4s ease-in-out;
    }

    &:hover p {
      padding-right: 3rem; 
    }
  }
}

.majorCategoryList {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;

  .majorCategoryCard {
    padding: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .cardInfo {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 3rem;
      gap: 1rem;
      width: 100%;
      justify-content: center;
      align-items: center;
      z-index: 999;
      transition: left 0.3s ease-in-out;

      h1 {
        font-size: 3rem;
        font-weight: 700;
        transition: transform 0.3s ease-in-out;
      }
    }

    img {
      width: 30rem;
    }
  }

  .majorCategoryCard:hover {
    .cardInfo h1 {
      transform: translateX(-20px);
    }
  }
}
