.blogInitiatives{
    h2{
        text-align: center;
        margin: 1rem;
    }

    .blogInitiativeCardsContainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.initiativeCard{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    .imgContainer{
        width: 25rem;
        height: 22rem;
        position: relative;
    }
    p{
        font-size: 1.4rem;
    }
}